/* Reset geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Roboto-serif', serif;
}
h2{
    font-family: 'Roboto-serif', serif;
}
h3{
    font-family: 'Roboto-serif', serif;
}
h4{
    font-family: 'Roboto-serif', serif;
}
h5{
    font-family: 'Roboto-serif', serif;
}
h6{
    font-family: 'Roboto-serif', serif;
}
#top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8C5423;
    padding: 20px;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.button-topnav {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 0 15px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.button-topnav:hover {
    color: #4A0404;
}

.button-topnav.active {
    color: #360303;
}

.logo-container {
    position: absolute;
    left: 60px;
}

.logo {
    height: 48px; 
    width: auto;
}
.menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    z-index: 1001;
}

/* Estilo do modal */
.modal-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal-link {
    display: block;
    margin: 10px 0;
    color: #8C5423;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.modal-link:hover {
    color: #4A0404;
}

.close-modal {
    background: none;
    border: 2px solid #8C5423;
    border-radius: 5px;
    padding: 10px 20px;
    color: #8C5423;
    cursor: pointer;
    margin-top: 20px;
}


#home {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(140, 84, 35, 1) 100%), url('Imagens/background/imagem_home.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}


#home h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    text-align: center;
}

#home h1 span{
    color: #4A0404;
}

.subtitulo {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #f9e2d5;
    text-align: center;
}

.button {
    background-color: #4A0404; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 15px 30px; 
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 250px; 
    height: 50px; 
    text-align: center;
    line-height: 20px; 
}

.button:hover {
    background-color: #2C0202; /* Cor de destaque ao passar o mouse */
}

#sobre{  
    background: linear-gradient(to top, #8C5423, rgba(0, 0, 0, 0)), #8C5423;
    background-size: cover;
    display: flex; 
    flex-direction: column;
    height: calc(100vh - var(--nav-height)); 
    width: 100%; 
    padding: 0;
    margin: 0; 
}
#ferramentas_sobre{
    width: 100%;
    height: auto;
    margin-top: 10px;
}
#sobre h2{
    font-size: 60px;
    color: #fff;
    margin-left: 60px;
    font-weight: 900;
}
#sobre p{
    color: #fff;
    font-size: 24px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 5px;
    font-weight:100;
    margin-bottom: 30px;
}
#especialidades {
    background-color: #663D1A;
    background-size: cover;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    height: calc(100vh - var(--nav-height));
    width: 100%; 
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#especialidades h2{
    color: #fff;
    font-size: 54px;
    margin-top: 30px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; 
    margin-top: 20px;
    padding: 0 20px; 
}

.card {
    background: linear-gradient(135deg,#3B403B 23%, #99A699 100%);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    width: 400px; 
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    overflow: hidden; 
}

.card img {
    width: 95%; 
    height: 60%;
    object-fit: cover;
    border-radius: 10px; 
    margin-bottom: 10px; 
    margin-top: 10px;
}

.card h3 {
    font-size: 27px; 
    color: #fff; 
    margin: 5px 0;
}

.card p {
    font-size: 1rem;
    color: #fff;
    margin: 0;
    padding: 5px;
}
#ultimo-card{
    margin-bottom: 30px;
}
#projetos {
    background-color: #8C5423;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#projetos h2 {
    font-size: 60px;
    margin-bottom: 20px;
}   

.carousel {
    position: relative;
    width: 92%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    position: relative;
    width: 100%;
    height: 600px;
    flex-shrink: 0;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(140, 84, 35, 0.4); /* Cor com opacidade */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.carousel-caption h3 {
    font-size: 3rem;
    color: white;
    margin-bottom: 5px;
}

.carousel-caption p {
    font-size: 1.5rem;
    color: white;
    margin: 0;
}


.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 50px; 
    height: 50px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 900;
    
}

.arrow.left {
    left: 10px;
    width: 80px;
    height: 80px;
    color: white;
}

.arrow.right {
    right: 10px;
    width: 80px;
    height: 80px;
    color: white;
}
#projetos svg{
    width: 60px;
    height: 60px;
}
.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Sombra no hover */
}

#contato{
    background-color: #663D1A;
    background-size: cover;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    height: calc(100vh - var(--nav-height));
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: white;
}

#contato h2 {
    font-size: 60px;
    margin-bottom: 60px;
    margin-top: 40px;
}

#contato p {
    font-size: 24px;
    margin-bottom: 40px;
    margin-left: 60px;
}

#contato strong {
    color: #4A0404;
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    margin-bottom: 25px;
}

input, textarea {
    width: 690px;
    height: auto;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #fff;
    color: #333;
    border: 4px solid #4A0404;
}

input::placeholder,
textarea::placeholder {
    color: #aaa;
}

textarea {
    resize: none;
    width: 100%;
} 

#contato button{
    margin-top: 50px;
    margin-bottom: 30px;
}
.whatsapp-icon {
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 1000;
    background-color: #25D366;  
    border-radius: 50%;
    width: 60px;  
    height: 60px; 
    display: flex;
    align-items: center;  
    justify-content: center; 
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.whatsapp-icon svg {
    width: 30px;
    height: 30px;
    color: white;
}

.whatsapp-icon:hover {
    transform: scale(1.1);
}
@media screen and (min-width: 1800px) {
    .carousel {
        width: 90%; 
    }

    .carousel-item {
        height: 800px; 
    }

    .carousel-caption {
        height: 25%; 
        font-size: 1.5rem; 
    }

    .carousel-caption h3 {
        font-size: 4rem; 
    }

    .carousel-caption p {
        font-size: 2rem; 
    }

    
    .arrow {
        width: 100px;
        height: 100px;
    }

    
    #projetos svg {
        width: 100px;
        height: 100px;
    }

    
    #contato h2 {
        font-size: 80px; 
    }

    #contato p {
        font-size: 28px; 
    }

    input {
        height: 80px; 
        font-size: 1.2rem; 
    }
    textarea{
        height: 200px;
    }
    #contato button {
        font-size: 1.5rem; 
        padding: 15px 30px; 
        height: 80px;
        width: 400px;
        border-radius: 30px;
    }
    .card {
        width: 500px; 
        height: 350px;
    }
    
    .card img {
        width: 95%; 
        height: 60%;
        border-radius: 10px; 
    }
    
    .card h3 {
        font-size: 34px; 
    }
    
    .card p {
        font-size: 1.3rem;
    }
    #especialidades h2{
        font-size: 80px;
    }
    #ultimo-card{
        margin-bottom: 60px;
    }
}

@media (max-width: 1115px) {
    .logo-container{
        left: 40px;
    }
    #sobre{
        height: calc(105vh - var(--nav-height));
    }
    #sobre h2{
        margin-left: 40px;
    }
    #sobre p{
        margin-left: 40px;
        margin-right: 40px;
    }
    #especialidades{
        height: calc(160vh - var(--nav-height));
    }
    .form-group {
        flex-direction: column; 
        gap: 10px;
        margin-bottom: 10px;
    }
    input, textarea {
        width: 944px;
    }
    #contato p{
        margin-left: 40px;
    }
}
@media (max-width: 972px) {
    input, textarea {
        width: 832px;
    }
    .carousel-item{
        height: 550px;
    }
}
@media (max-width: 870px) {
    #sobre h2{
        font-size:54px;
    }
    #sobre p{
        font-size:22px;
    }
    #sobre{
        height: calc(95vh - var(--nav-height));
    }
    #contato p{
        margin-left: 30px;
        margin-right: 30px;
    }
    .card{
        width: 370px;
        height: 250px;
    }
    .card img{
        height: 50%;
    }
    input, textarea {
        width: 760px;
    }
    .carousel-item{
        height: 500px;
    }
}
@media (max-width: 810px) {
    #especialidades{
        height: calc(280vh - var(--nav-height));
    }
    .carousel-item{
        height: 470px;
    }
}

@media (max-width: 770px) {
    #sobre h2{
        font-size:50px;
    }
    #sobre p{
        font-size:20px;
    }
    #contato p{
        margin-left: 30px;
        margin-right: 30px;
    }
    .form-group {
        flex-direction: column; 
        gap: 10px;
        margin-bottom: 10px;
    }
    input, textarea {
        width: 708px;
    }
    .nav-buttons {
        display: none;
    }
    #contato{
        height: calc(105vh - var(--nav-height));
    }
    .menu-button {
        display: block;
    }
    .carousel-item{
        height: 430px;
    }
    .carousel-caption h3 {
        font-size: 2.6rem;
    }
    .carousel-caption p {
        font-size: 1.2rem;
    }
    .arrow.left {
        width: 50px;
        height: 50px;
    }
    
    .arrow.right {
        width: 50px;
        height: 50px;
    }
    #projetos svg{
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 720px) {
    .form-group {
        flex-direction: column; 
        gap: 10px;
        margin-bottom: 10px;
    }
    input, textarea {
        width: 640px;
    }
    .carousel-item{
        height: 380px;
    }
    .carousel-caption h3 {
        font-size: 2.3rem;
    }
    .carousel-caption p {
        font-size: 1.0rem;
    }
}
@media (max-width: 670px) { 
    .form-group {
        flex-direction: column; 
        gap: 10px;
        margin-bottom: 10px;
    }
    #especialidades h2{
        font-size: 42px;
    }
    #contato h2{
        font-size: 46px;
    }
    #projetos h2{
        font-size: 46px;
    }
    #sobre h2{
        font-size: 46px;
        margin-left: 30px;
    }
    #contato p{
        font-size: 20px;
        margin-left: 20px;  
        margin-right: 20px;
    }
    input, textarea {
        width: 600px;
    }
    .logo-container{
        left: 30px;
    }
    #sobre p{
        margin-left: 30px;
        margin-right: 30px;
    }
    #contato p{
        margin-left: 30px;
    }
}
@media (max-width: 610px) {
    input, textarea {
        width: 550px;
    }
    .carousel-item{
        height: 330px;
    }
    .carousel-caption h3 {
        font-size: 2.0rem;
    }
    .carousel-caption p {
        font-size: 0.8rem;
    }
}
@media (max-width: 570px) {
    input, textarea {
        width: 500px;
    }
}
@media (max-width: 540px) {
    input, textarea {
        width: 460px;
    }
    #sobre{
        height: calc(92vh - var(--nav-height));
    }
    #especialidades{
        height: calc(280vh - var(--nav-height));
    }
    #especialidades h2{
        font-size: 35px;
    }
    #contato h2{
        font-size: 38px;
    }
    #projetos h2{
        font-size: 38px;
    }
    #sobre h2{
        font-size: 38px;
    }
    .carousel-item{
        height: 300px;
    }
    .carousel-caption h3 {
        font-size: 1.7rem;
    }
    
    .carousel-caption p {
        font-size: 0.8rem;
    }
}
@media (max-width: 480px) {
    input, textarea {
        width: 420px;
    }
    #sobre{
        height: calc(95vh - var(--nav-height));
    }
    .carousel-item{
        height: 270px;
    }
    .carousel-caption h3 {
        font-size: 1.6rem;
        margin-bottom: 0px;
    }
    .carousel-caption p {
        font-size: 0.8rem;
    }
    .logo-container{
        left: 20px;
    }
    #sobre p{
        margin-left: 20px;
        margin-right: 20px;
    }
    #sobre h2{
        margin-left: 20px;
    }
    #contato p{
        margin-left: 20px;
    }
}
@media (max-width: 440px) {
    #home h1{
        font-size: 2.5rem;
    }
    #sobre{
        height: calc(100vh - var(--nav-height));
    }
    #especialidades{
        height: calc(255vh - var(--nav-height));
    }
    #especialidades h2{
        font-size: 28px;
    }
    #especialidades h3{
        font-size: 24px;
    }
    .card img {
        height: 50%;
    }
    #contato h2{
        font-size: 32px;
    }
    #projetos h2{
        font-size: 32px;
    }
    #sobre h2{
        font-size: 32px;
        margin-top: 10px;
    }
    input, textarea {
        width: 380px;
    }
    .card{
        width: 350px;
        height: 230px;
    }
    .carousel-item{
        height: 260px;
    }
}
@media (max-width: 414px) {
    .carousel-caption p {
        margin-bottom: 5px  ;
    }
    #contato{
        height: calc(110vh - var(--nav-height));
    }
}
@media (max-width: 390px) {
    #sobre{
        height: calc(105vh - var(--nav-height));
    }
    .carousel-item{
        height: 240px;
    }
    #home h1{
        font-size: 2;
    }
    #home p{
        font-size: 1;
    }
    .arrow.left {
        width: 40px;
        height: 40px;
    }
    
    .arrow.right {
        width: 40px;
        height: 40px;
    }
    #projetos svg{
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 375px) {
    #sobre{
        height: calc(110vh - var(--nav-height));
    }
    #sobre h2{
        font-size: 30px;
    }
    #contato{
        height: calc(110vh - var(--nav-height));
    }
    input, textarea {
        width: 330px;
    }
    .carousel-item{
        height: 230px;
    }
}
@media (max-width: 360px) {
    #sobre{
        height: calc(115vh - var(--nav-height));
    }
    .carousel-item{
        height: calc(220vh - var(--nav-height));
    }
    #home h1{
        font-size: 1.7rem;
    }
    #home p{
        font-size: 0.8rem;
    }
}
@media (max-width: 350px) {
    #sobre{
        height: calc(120vh - var(--nav-height));
    }
    #especialidades{
        height: calc(210vh - var(--nav-height));
    }
    #sobre h2{
        font-size: 28px;
    }
    #especialidades h2{
        font-size: 25px;
    }
    .card img {
        height: 40%;
    }
    input, textarea {
        width: 300px;
    }
    .card{
        width: 300px;
        height: 180px;
    }
    .carousel-item{
        height: 210px;
    }
    #contato h2{
        font-size: 28px;
    }
    #contato p{
        font-size: 17px;
    }
@media (max-width: 330px) {
    input, textarea {
        width: 260px;
    }
    #contato h2{
        font-size: 25px;
    }
    #contato p{
        font-size: 14px;
    }
    #sobre{
        height: calc(125vh - var(--nav-height));
    }
    .carousel-item{
        height: 180px;
    }
    .carousel-caption h3 {
        font-size: 1.3rem;
        margin-bottom: 0px;
    }
    .carousel-caption p {
        font-size: 0.6rem;
    }
}
@media (max-width: 310px) {
    #sobre{
        height: calc(132vh - var(--nav-height));
    }
    #especialidades h2{
        font-size: 22px;
    }
    .card{
        width: 220px;
        height: 180px;
    }
    .card p{
        font-size: 0.7rem
    }
}

}
